{include file="index/top" /}
<div class="middlecontent">
    <div class="meuleft">
        {include file="index/left" /}
    </div>

    <div class="rightcontent">
        <div class="layui-form-item">
            <label class="layui-form-label">驿站</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                <button type="button" class="layui-btn"><i class="layui-icon"></i></button>
            </div>
        </div>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>日期</th>
                    <th>订单编号</th>
                    <th>收件地址</th>
                    <th>驿站</th>
                    <th>账期</th>
                    <th>收入</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>贤心</td>
                    <td>汉族</td>
                    <td>1989-10-14</td>
                    <td>人生似修行</td>
                    <td>人生似修行</td>
                    <td>人生似修行</td>
                    <td>人生似修行</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>





   </body>
</html>